<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-header-bar class="bar-dark">
      <h1 class="title">Your PocketBar</h1>
    </ion-header-bar>
    <ion-content class="custom">
      <ion-list>
         
        <ion-item menu-close ng-click="login()">
         <i class="icon ion-android-radio-button-on"></i>&nbsp;
           Login
        </ion-item>
       
        <ion-item menu-close href="#/app/location">
        <i class="icon ion-android-compass"></i>&nbsp;
             Find Nearby bar
        </ion-item>
        <ion-item menu-close href="#/app/account">
                <i class="icon ion-android-contact"></i>&nbsp;

          My Account
        </ion-item>

       <ion-item menu-close href="#/app/shopNew">
 <i class="icon ion-android-cart"></i>&nbsp;
           Shop Now
        </ion-item>

               <ion-item menu-close href="#/account/offer">
      <i class="ion-android-contacts"></i>&nbsp;

           Offer a friend!
        </ion-item>
         
        <ion-item menu-close href="#/app/barcode">
        <i class="icon ion-android-camera"></i>&nbsp;

           Scan QRCode
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
