<ion-view view-title="Offer a friend!!">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Offer a friend!!</div>
    </div>
        
      </ion-header-bar>

   <ion-content padding="true" class="has-header">
    <h1 id="page4-heading2" style="color:#000000;">Contacts</h1>
    <div id="page4-button-bar2" class="button-bar"></div>
    <div id="page4-button-bar3" class="button-bar"></div>
    <div id="page4-container1">
      <div id="page4-button-bar4" class="button-bar"></div>
    </div>
    <div id="page4-container2">
      <form id="page4-form7" class="list">
        <div class="item item-body" id="page4-list-item-container7">
          <div id="page4-markdown10" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#1B48BB;">A</p>
          </div>
        </div>
        <ion-radio id="page4-radio2">Agibali</ion-radio>
        <ion-radio id="page4-radio3">Adelaide</ion-radio>
        <ion-radio id="page4-radio4">Alice</ion-radio>
        <ion-radio id="page4-radio5">Alberta</ion-radio>
        
      </form>
    </div>
    <form id="page4-form11" class="list">
      <label style="background-color: #e6e6e6;" class="item item-select" id="page4-select3">
        <span style="font-weight: bold;" class="input-label">Choose Drink</span>
        <select>
          <option>Red Label</option>
          <option>Glenfeddich</option>
          <option>Ballantine</option>
        </select>
      </label>
      <label style="background-color: #e6e6e6;" class="item item-select" id="page4-select4">
        <span style="font-weight: bold;" class="input-label">Choose size</span>
        <select style="width: 139px;">
          <option>60ml   </option>
          <option>120ml  </option>
          <option>180ml  </option>
        </select>
      </label>
    </form>
    <button id="page4-button20" class="button button-positive button-block">Offer</button>
  </ion-content>
</ion-view>