<ion-view title="Hardrock Cafe" id="page10">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Settle Your Deal</div>
    </div>
        
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="cloudBar-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="cloudBar-slide26" style="background:url(&quot;img/smirnoff-01.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cloudBar-slide24" style="background:url(&quot;img/smirnoff-02.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="cloudBar-slide25" style="background:url(&quot;img/smirnoff-03.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="list card" id="cloudBar-card22"></div>
    <form id="cloudBar-form2" class="list">
      <label class="item item-input" id="cloudBar-input4">
        <span class="input-label">Quantity :</span>
        <input type="number" placeholder="ml">
      </label>
    </form>
    <a href="#/account/qr">
    <button id="cloudBar-button5" class="button button-positive button-block">Consume</button>
    </a>
   
  </ion-content>
</ion-view>