<ion-view view-title="Hardrock Cafe">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Settle Your Deal</div>
    </div>
        
      </ion-header-bar>

 <ion-content padding="true" class="has-header">     
    <div id="page3-button-bar1" class="button-bar"></div>
    <div class="list card" id="page3-card23">
      <ion-item class="item-avatar dark" id="page3-list-item13">
        <img src="img/avatar.png">
        <h2dark>Pay Vendor
          <p>Hongkong, Peak District</p>
        </h2dark>
      </ion-item>
      <div class=" item item-image">
        <img src="img/qr.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page3-list-item-container4">
      <a href="#/account/mybar-dummybalance">
        <div id="page3-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Share the QR code with Bar to get the drinks!!</p>
        </div>
      </a>
      </div>
      
      
    </div>

  </ion-content>
</ion-view>
