<ion-view view-title="Hardrock Cafe">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Treat Yourself</div>
    </div>
        
      </ion-header-bar>
 <ion-content padding="true">
<!-- <h4>Consume/Purchase</h4>-->
    <div class="list card" id="page-card21">
      <ion-item class="item-icon-left dark" id="page-list-item5">
        <i class="icon ion-ios-wineglass"></i>Johhnie Walker Red Label</ion-item>
      <div class=" item item-image">
        <img src="img/01-johnnie-walker-red-label.png" style="display: block; width: 200px; height: 200px; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2"></div>
      <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"><h4>Bottle details</h4></p>
      </div>
      <div id="page-markdown3" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#05140E;font-size:12px;margin:16px;">Johnnie Walker Red Label: an 80 proof (40% ABV) blend of 35 grain and malt whiskies. It is intended for making mixed drinks. According to William Manchester this was the favorite Scotch of Winston Churchill, who mixed it with soda.</p>
      </div>
            
    </div>
    
    <form id="page-form4" class="list">
        <label class="item item-input" id="page-input7">
          <span class="input-label">Purchase Price/60ml : 120 HKD</span>
          <input type="text" placeholder="">
        </label>
     </form>

    <a href="#/account/paymentOptions">
     <button id="page4-button18" class="button button-positive button-block">Buy</button>
    </a>
   
  </ion-content>
</ion-view>
