<ion-view title="Payment" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="payment-form2" class="list">
      <ion-radio id="payment-radio1">Use Credit Card/Debit Card</ion-radio>
      <ion-radio id="payment-radio2">Use My Wallet</ion-radio>
      <ion-radio id="payment-radio3">Use Internet Banking</ion-radio>
    </form>
	<a href="#/account/qr">
    <button id="cloudBar-button5" class="button button-positive button-block">Pay Now</button>
    </a>
    <<a href="#/location/location.html">
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block">Cancel</button>
    </div>

  </ion-content>
</ion-view>