<ion-view title="Payment" id="page8">
  <ion-header-bar class="bar-dark">
<div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
        <div class="title" style="white-space:normal;">PocketBar - Choose Payment</div>
</div>
  </ion-header-bar>

  <ion-content padding="true" class="has-header">
    <form id="payment-form2" class="list">
      <ion-radio id="payment-radio1">Use Credit Card / Debit Card</ion-radio>
      <ion-radio id="payment-radio2">Use Pocket Bar Wallet</ion-radio>
      <ion-radio id="payment-radio3">Use Net Banking</ion-radio>
    </form>
	<a href="">
    <button id="cloudBar-button5" class="button button-positive button-block">Pay Now</button>
    </a>
    <a href="#/location/location.html">
      <button id="home-button1" class="button button-stable button-block">Cancel</button>
    </div>

  </ion-content>
</ion-view>