<ion-view view-title="My Shop">
    <ion-content padding="true" class="has-header">
   <div class="row">
      <div class="col"><a href="#app/shop-list">
        <div class="tile tile-double whisky-img">Taqilla</i></div> </a>
      </div>
       <div class="col"><a href="#app/shop-list">
        <div class="tile tile-double teq-img">Taqilla</i></div>
      </div> </a>
    
    </div>

    <div class="row">
      <div class="col"><a href="#/app/shop-list">
       <div class="tile tile-double teq-img">Taqilla</div>
       </a>
      </div>
       <div class="col"><a href="#app/shop-list">
        <div class="tile tile-double balanced-bg wine-img">Wine</div>
      </div></a>
    
    </div>

   
   
  </ion-content>
</ion-view>