
<ion-view view-title="My Shop">
    <ion-content padding="true" class="has-header">
    	 <ion-list id="cameraTabDefaultPage-list2">
      <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/whisky.png">
        <energized>Smirnoff
        
        </energized>
        <div class="row">
        	<div class="col">
        		<div class="list-text">Smirnoff Ice is a malt beverage produced by the same company that produces Smirnoff vodka, which is owned by the spirits giant, Diageo.</div>
        	</div>
        	</div>
      </ion-item>
    </ion-list>

   
   
  </ion-content>
</ion-view>