
<ion-view view-title="Hardrock Cafe">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Premium Selection</div>
    </div>
        
      </ion-header-bar>
    <ion-content padding="true" class="has-header">
    <h4>Select drinks to add in your wallet:</h4>
    	 <ion-list id="cameraTabDefaultPage-list2">
       <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1"  href="#/account/newBottle">
        <img src="img/rd.png">
        <b>Johnnie Walker Red Label</b>
        <div class="row">
          <div class="col">  
            <p>Johnnie Walker  is the most widely distributed brand of blended scotch whiskey</p>
          </div>
          </div>
           <div class="row" ><div class="col  item-details">Temprature : 27 %</div><div class="col"></div><div class="col item-details">Alcohol : 40 %</div></div>
      </ion-item>
       <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
          <img src="img/jd.png">
          <b>Jack Daniel        
          </b>
          <div class="row">
            <div class="col">  
              <!--<div class="list-text" style="white-space:normal;">--><p>Jack Daniels is a largest selling brand of American whiskey in the world. It is a brand of Tennessee whiskey.</p>
            </div>
            </div>
             <div class="row" ><div class="col  item-details">Temprature : 27 %</div><div class="col"></div><div class="col item-details">Alcohol : 38 %</div></div>
        </ion-item>
      <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/dj.png">
        <b>Don Julio
        
        </b>
        <div class="row">
          <div class="col">  
            <!--<div class="list-text" style="white-space:normal;">--><p>Clocking in at number one, Don Julio is also the largest tequila brand in terms of value.  </p>
          </div>
          </div>
           <div class="row" ><div class="col  item-details">Temprature : 27 %</div><div class="col"></div><div class="col item-details">Alcohol : 39 %</div></div>
      </ion-item>
      
      <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/teq.png">
        <b>Calle 23 
        
        </b>
        <div class="row">
          <div class="col">  
           <!-- <div class="list-text" style="white-space:normal;">--><p>“Tequila is a tradition, a way of life,” is this second best-selling brand’s motto.</p>
          </div>
          </div>
           <div class="row" ><div class="col  item-details">Temprature : 27 %</div><div class="col"></div><div class="col item-details">Alcohol : 40 %</div></div>
      </ion-item>

      <!--  <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/vodka.png">
        <energized>Absolut 
        
        </energized>
        <div class="row">
          <div class="col">  
            <div class="list-text" style="white-space:normal;">Created in 1879 by Lars Olsson Smith, a Swedish entrepreneur, this drink is Sipped warm it’s got a really mellow flavor, smooth, and with a bitter finish.</div>
          </div>
          </div>
      </ion-item>

      <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/vodka.png">
        <energized>Khlibnyi Dar 
        
        </energized>
        <div class="row">
          <div class="col">  
            <div class="list-text" style="white-space:normal;">A Ukranian bottle (go, Ukraine!) made from fermented cereal grains, supposedly with notes of honey, bread, and a bit of fruit.</div>
          </div>
          </div>
      </ion-item> 

      <ion-item class="item-thumbnail-left " id="cameraTabDefaultPage-list-item1">
        <img src="img/wine.png">
        <energized>Bartenura Moscato
        
        </energized>
        <div class="row">
          <div class="col">  
            <div class="list-text" style="white-space:normal;">Easily identified by its thin, blue glass bottle, Bartenura Moscato has claimed the palates of many, from novice wine drinkers to big-time celebrities.</div>
          </div>
          </div>
      </ion-item> -->



    </ion-list>
   
   
  </ion-content>
</ion-view>