<ion-view view-title="Hardrock Cafe">
    <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col"><a href="#sf/slist">

        <div class="tile tile-double whisky-img"></i></div> </a>
      </div>
       <div class="col"><a href="#app/shop-list">
        <div class="tile tile-double teq-img"></i></div>
      </div> </a>
    
    </div>

    <div class="row">
      <div class="col"><a href="#/app/shop-list">
       <div class="tile tile-double vodka-img"></div>
       </a>
      </div>
       <div class="col"><a href="#app/shop-list">
        <div class="tile tile-double wine-img"></div>
      </div></a>
    
    </div>
    <div class="row">
      <div class="col">
       <img class="offer center" src="img/offer.png"/>
      
      
      </div>
    </div>

   
   
  </ion-content>
</ion-view>