<ion-view view-title="Account Bottle">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Settle Your Deal</div>
    </div>
        
      </ion-header-bar>
 <ion-content padding="true">
    <div class="list card" id="page-card21">
      <ion-item class="item-icon-left dark" id="page-list-item5">
        <i class="icon ion-ios-wineglass"></i><h2>Smirnoff</h2></ion-item>
      <div class=" item item-image">
        <img src="img/smirnoff.png" style="display: block; width: 200px; height:200px; margin-left: auto; margin-right: auto;"">
      </div>
      <div class="item item-body" id="page-list-item-container2"></div>
      <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;"><h4>Bottle details</h4></p>
      </div>
      <div id="page-markdown3" style="text-align:justify;margin: 16px;" class="show-list-numbers-and-dots">
        <p style="color:#05140E;font-size:12px;">Smirnoff began with Piotr A. Smirnov in Moscow who was commissioned to produce vodka by the government after he was the first to filter the spirit in charcoal, removing impurities and making a consistent quality.

        It literally revolutionized the distilling world. Smirnoff Ice is a malt beverage produced by the same company that produces Smirnoff vodka, which is owned by the spirits giant, Diageo.Taste is adequate in every sense of the word ,Neither harsh nor smooth.Nice and flavorless.</p>
      </div>
      <ion-item class="item-icon-left dark" id="page-list-item6">
        <i class="icon No Icon"></i>Purchased : 1000 ML</ion-item>
      <ion-item class="item-icon-left dark" id="page-list-item8">
        <i class="icon No Icon"></i>Consumed : 250 ML</ion-item>
      <ion-item class="item-icon-left dark" id="page-list-item9">
        <i class="icon No Icon"></i>Avaliable : 750 ML</ion-item>
    </div>
    
    <a href="#/account/consumeSmirnoff">
    <div id="home-button-bar2" class="button-bar" >
      <button id="page-button4" class="button button-positive button-block">  Continue</button>
    </div>
    </a>

   
  </ion-content>
</ion-view>
