<ion-view view-title="Account Bottle">
 <ion-content padding="true" class="has-header">
    <div class="list card" id="page-card21">
      <ion-item class="item-icon-left dark" id="page-list-item5">
        <i class="icon ion-ios-wineglass"></i>Red Label</ion-item>
      <div class=" item item-image">
        <img src="img/01-johnnie-walker-red-label.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="page-list-item-container2"></div>
      <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Bottle details</p>
      </div>
      <div id="page-markdown3" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#05140E;font-size:12px;">Red Label: an 80 proof (40% ABV) blend of 35 grain and malt whiskies. It is intended for making mixed drinks. According to William Manchester this was the favorite Scotch of Winston Churchill, who mixed it with soda.</p>
      </div>
      <ion-item class="item-icon-left dark" id="page-list-item6">
        <i class="icon No Icon"></i>Purchased : 750 ml</ion-item>
      <ion-item class="item-icon-left dark" id="page-list-item8">
        <i class="icon No Icon"></i>Consumed : 200ml</ion-item>
      <ion-item class="item-icon-left dark" id="page-list-item9">
        <i class="icon No Icon"></i>Avaliable : 500 ml</ion-item>
    </div>
    <button id="page-button4" class="button button-positive button-block">Continue</button>
  </ion-content>
</ion-view>
