

<ion-view view-title="My Account">
      <ion-content padding="false" class="side-menu-right has-header ">
        <ion-list id="MyAccountCtrl-list4" data-componentid="list4">
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item31" data-componentid="list-item31" href="#/account/mybar">My Bar
            <i class="icon ion-android-cart"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item32" data-componentid="list-item32" href="#/account/myWallet">My Wallet
            <i class="icon ion-social-usd"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item32" data-componentid="list-item32" href="#/account/mySettings">Account Setting
            <i class="icon ion-android-settings"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item34" data-componentid="list-item34" href="#/account/contact-us">Contact PocketBar
            <i class="icon ion-help"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item33" data-componentid="list-item33" ng-click="login()">Logout
            <i class="icon ion-log-out"></i>
          </ion-item>
        </ion-list>
      </ion-content>

</ion-view>
