<ion-view title="Account Settings" id="page5">

<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Account Settings</div>
    </div>
        
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form id="settings-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Enable Cloud Bar SMS Alerts</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Enable Cloud Bar Security Alerts</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Enable Cloud Bar E-mail Alerts</ion-toggle>
    </form>
    
  </ion-content>
</ion-view>