<ion-view title="Account Settings" id="page5">
<ion-header-bar class="bar-light">
        <div class="title">CloudBar-My Account Settings</div>
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <form id="settings-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle3">Turn On Cloud Bar SMS Notifications</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle5">Turn On Cloud Bar Security Alerts</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle6">Turn On Cloud Bar E-mail Alerts</ion-toggle>
    </form>
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block icon-left ion-android-arrow-back" onclick="history.go(-1)">Go Back</button>
    </div>
  </ion-content>
</ion-view>