<ion-view title="Contact Us" id="page5">
<ion-header-bar class="bar-light">
        <div class="title">CloudBar-Contact Us</div>
 </ion-header-bar>

<ion-content>
<ion-list id="itemsInMyCloudBar-list1">
	<ion-item class="item-thumbnail-left" id="contactCloudBar-list-item6">
        <img src="img/header_contact.png">
        <h2>For any assistance with CloudBar or regarding technical difficulties, contact us at: +1-000-0000-0000</h2>
        <p>CloudBar uses a step-by-step approach to set expectations for their customers.We are available 24 x 7 for your service.</p>
  </ion-item>
  </ion-list>
  <div id="home-button-bar1" class="button-bar">
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block icon-left ion-android-arrow-back">Go Back</button>
    </div>
    </ion-content>
</ion-view>