<ion-view title="Contact Us" id="page5">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">Contact Us</div>
    </div>
        
      </ion-header-bar>

<ion-content>
<ion-list id="itemsInMyCloudBar-list1">
	<ion-item class="item-thumbnail-left" id="contactCloudBar-list-item6">
        <img src="img/header_contact.png">
        <h2 style="white-space:normal;">For any assistance with PocketBar or regarding technical difficulties, contact us at: +1-000-0000-0000</h2>
      <br>

        <h2 style="white-space:normal;">Regarding sales inquiry mail us at sales@pocketbar.com</h2>
        <br>
        <p style="white-space:normal;">PocketBar uses a step-by-step approach to set expectations for their customers.We are available 24 x 7 for your service.</p>
  </ion-item>
  </ion-list>
 
    </ion-content>
</ion-view>