<ion-view view-title="My Cloud Bar">
<ion-header-bar class="bar-dark">
  <div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
      <div class="title">My Bar</div>
    </div>
        
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
  <h4>Select drinks from your account:</h4>
    <ion-list id="itemsInMyCloudBar-list1">

      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item5" href="#/account/accountBottle">
        <img src="img/01-johnnie-walker-red-label.png">
        <h2>Johnnie Walker Red Label</h2>
        <h2>1000 ML</h2>
        <p style="white-space:normal;">Johnnie Walker Red Label is 80 proof (40% ABV) blend of 35 grain and malt whiskies.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item6" href="#/account/accountBottleSmirnoff">
        <img src="img/smirnoff.png">
        <h2>Smirnoff</h2>
        <h2>750 ML</h2>
        <p style="white-space:normal;">Smirnoff Ice is a malt beverage produced by the same company that produces Smirnoff vodka, which is owned by the spirits giant, Diageo.</p>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>