<ion-view title="MyBar - Items in My Cloud Bar" id="page3">
<ion-header-bar class="bar-light">
        <div class="title">CloudBar-My Bar</div>
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <ion-list id="itemsInMyCloudBar-list1">

      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item5" href="#/account/accountBottleDummy">
        <img src="img/01-johnnie-walker-red-label.png">
        <h2 style="white-space:normal;">Johnnie Walker Red Label</h2>
        <h3>750 ML</h3>
        <p style="white-space:normal;">Johnnie Walker Red Label is 80 proof (40% ABV) blend of 35 grain and malt whiskies.</p>
        <h2 style="white-space:normal;color:blue">Success ,1000 ML Purchased in Last Transaction</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item6" href="#/account/accountBottleSmirnoff">
        <img src="img/smirnoff.png">
        <h2>Smirnoff</h2>
        <h3>750 ML</h3>
        <p style="white-space:normal;">Smirnoff Ice is a malt beverage produced by the same company that produces Smirnoff vodka, which is owned by the spirits giant, Diageo.</p>
        </ion-item>
    </ion-list>

 <a href="#/app/shop">
    <div id="home-button-bar1" class="button-bar">
   
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block icon-left ion-android-arrow-back" >Go to Home Page</button>
     
    </div>
 </a>
  </ion-content>
</ion-view>