<ion-view title="MyBar - Items in My Cloud Bar" id="page3">
<ion-header-bar class="bar-light">
        <div class="title">CloudBar-My Bar</div>
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <ion-list id="itemsInMyCloudBar-list1">
      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item5" ui-sref="tabsController.productDetailPage()">
        <img src="img/chivasregal.jpg">
        <h2>Johhne Walker</h2>
        <h2>1000 ML</h2>
        <p style="white-space:normal;">Smirnoff Ice is a malt beverage produced by the same company that produces Smirnoff vodka, which is owned by the spirits giant, Diageo.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="itemsInMyCloudBar-list-item6">
        <img src="img/smirnoff.jpg">
        <h2>Smirnoff</h2>
        <h2>1500 ML</h2>
        <p>Chivas Regal is a blended Scotch whisky produced by Chivas Brothers, which is part of Pernod Ricard. </p>
      </ion-item>
    </ion-list>

    <div id="home-button-bar1" class="button-bar">
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block icon-left ion-android-arrow-back">Go Back</button>
    </div>

  </ion-content>
</ion-view>