<ion-view title="My Wallet" id="page5">
<ion-header-bar class="bar-dark">
<div >
      <button class="button button-block icon-left ion-android-arrow-back" onclick="history.go(-1)" style="margin-top: 0px"></button>
        <div class="title">PocketBar-My Wallet</div>
</div>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
  <br>
        <ion-list id="MyAccountCtrl-list4" data-componentid="list4">
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item31" data-componentid="list-item31" href="">Your Balance : 10000 HKD
            <i class="icon ion-social-usd"></i>
          </ion-item>
          <ion-item class="item-icon-right" id="MyAccountCtrl-list-item32" data-componentid="list-item32" href=""> Transaction History
             <i class="icon ion-ios-book"></i>
          </ion-item>
  </ion-content>
</ion-view>