<ion-view title="My Wallet" id="page5">
<ion-header-bar class="bar-light">
        <div class="title">PocketBar-My Wallet</div>
      </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <ion-item >
        <h3 style="white-space:normal;">My Balance : 1000 HKD</h3>
      <br>

        <h33 style="white-space:normal;">Transaction History</h3>
        <br>
       
    <div id="home-button-bar1" class="button-bar">
      <button id="home-button1" style="font-size:13px;" class="button button-stable button-block icon-left ion-android-arrow-back" onclick="history.go(-1)">Go Back</button>
    </div>
  </ion-content>
</ion-view>